.App {
  display: flex;
  min-height: 100vh;
  background-image: url(Assets/images/LB_W1920xH3004.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: "Chakra Petch";
  background-image: url(Assets/images/LB_W1920xH3004.jpg);
  background-repeat: no-repeat;
}


/* General layout */

/* Home Page Layout */
.Home {
  flex-grow: 1; /* Take up remaining space */
  margin-left: 316px; /* Offset by navbar width + padding */
  padding: 20px;
}



/* Main Card Container */
.main-card {
  width: 1500px; /* Fixed width for the main card */
  height: 3009px; /* Fixed height for the main card */
  background-color: rgba(2, 5, 4, 0.95); /* Dark background */
  border-radius: 20px;
  border: 2px solid #AB0E0B; /* Red border */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(3, 1fr); /* Three rows */
  gap: 20px; /* Space between grid items */
}

/* Grid Items */
.Info-card {
  grid-column: 1 / 2; /* First column */
  grid-row: 1 / 2; /* First row */
}

.Ability-score {
  grid-column: 2 / 3; /* Second column */
  grid-row: 1 / 2; /* First row */
}

.Saving-throws {
  grid-column: 2 / 3; /* Second column */
  grid-row: 2 / 3; /* Second row */
}

.MovementVision {
  grid-column: 1 / 2; /* First column */
  grid-row: 2 / 3; /* Second row */
}

.Attacks {
  grid-column: 1 / 2; /* First column */
  grid-row: 3 / 4; /* Third row */
}

.Skills {
  grid-column: 2 / 3; /* Second column */
  grid-row: 3 / 4; /* Third row */
}




/* Fixed Logo Card */
.fixed-logo-card {
  position: fixed;
  top: 20px;
  left: 5px;
  width: 300px; /* Fixed width for the navbar */
  background-color: rgba(2, 5, 4, 0.95); /* Dark background */
  z-index: 1000; /* Ensure it stays on top of other content */
  padding: 10px;

  border-radius: 20px;
  border: 2px solid #AB0E0B; /* Red border */
}

.fixed-logo-card .navbar-logo {
  height: 120px; /* Adjust height as needed */
  width: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the logo horizontally */
}

/* Navbar (Sidebar) */
.navbar-container {
  width: 276px; /* Fixed width for the navbar */
  margin-left: 5px;
  height: 360px; /* Full height */
  background-color: rgba(2, 5, 4, 0.95); /* Dark background */
  border-radius: 20px;
  border: 2px solid #AB0E0B; /* Red border */
  padding: 20px;
  color: white;
  position: fixed; /* Fixed position to keep it on the left */
  left: 0;
  top: 0;
  margin-top: 180px;
}

/* Search Form */
.search-form {
  margin-bottom: 20px;
}

.search-input {
  width: 220px;
  background-color: #020504;
  font-family: "Chakra Petch", sans-serif;
  font-size: 32px;
  color: #ffffff;
  padding: 8px;
  border-radius: 15px;
  border-color: #AB0E0B;
  border-style: solid;
  margin-left: 15px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  flex-direction: column;

}

.nav-link {
  margin: 10px 0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 32px;
  color: white;
  text-decoration: none;
  text-align: left;
  margin-left: 20px;
}

.nav-link:hover {
  font-size: 34px;
  font-weight: 600;
}

.nav-link:active {
  font-size: 32px;
  font-weight: 700;
}


/*InfoCard*/

.InfoCardBody {
 width: 563px;
  height: 900px;
  background-color: rgb(2, 5, 4, 0.95);
  color: white;
  border-radius: 20px;
  border-color: #AB0E0B;
  border-style: solid;
  margin: 20px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.InfoCardImg {
  width: 340px;
  height: 340px;
  border-radius: 20px;
  margin-top: 20px;
}

.InfoCardTitle {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
}

.InfoCardText{
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  margin: 10px;
}


/*AbilityScore*/


/* Card Styles */
.AbilityScoreBody {
  width: 700px;
  height: 860px;
  border-color: #AB0E0B;
  border-style: solid;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(2, 5, 4, 0.95); /* Dark background for better contrast */

}

/* Title Styles */
.radar-title {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 20px;
  color: white; /* Change title text color */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Radar Chart Legend Styles */
.chartjs-legend {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white; /* Change legend text color */
}

canvas {
  display: block; /* Ensure canvas is not inline */
  width: 700px !important; /* Force canvas to take full width */
  height: 700px !important; /* Force canvas to take full height */
}

/*SavingThrows*/


/* Card Styles */
.SavingThrowsBody {
  width: 700px;
  height: 860px;
  border-color: #AB0E0B;
  border-style: solid;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(2, 5, 4, 0.95); /* Dark background for better contrast */
}

/* Title Styles */
.SavingThrows-title {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 20px;
  color: white; /* Change title text color */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Radar Chart Legend Styles */
.chartjs-legend {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white; /* Change legend text color */
}

canvas {
  display: block; /* Ensure canvas is not inline */
  width: 700px !important; /* Force canvas to take full width */
  height: 700px !important; /* Force canvas to take full height */
}





/*movement*/

/* General Card Styling */
.MovementBody {
  width: 700px;
  height: 860px;
  border-color: #AB0E0B;
  border-style: solid;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(2, 5, 4, 0.95); /* Dark background for better contrast */
}

/* Card Title Styling */
.Movement-title {
  font-size: 1.5rem; /* Larger font size */
  font-weight: bold; /* Bold text */
  color: #fff; /* Dark text color */
  margin-bottom: 20px; /* Space below the title */
  text-align: center; /* Center-align the title */
}

/* Chart Container Styling */
.Movement-container {
  width: 540px; /* Set chart container width */
  height: 800px; /* Set chart container height */
  display: flex;
  justify-content: center; /* Center the chart horizontally */
  align-items: center; /* Center the chart vertically */
  margin-left: 80px;
}

/* Chart.js Bar Chart Styling */
.chartjs-render-monitor {
  background-color: #fff; /* White background for the chart */
  border-radius: 8px; /* Rounded corners for the chart */
  padding: 15px; /* Padding inside the chart */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 100%; /* Make chart take full width of the container */
  height: 100%; /* Make chart take full height of the container */
}



/*attacks*/


/* Container for all cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  justify-content: center;
  gap: 80px; /* Adds space between cards */
  padding: 20px;

}

/* Card Body Styles */
.AttackBody {
  width: 100%; /* Adjust width as needed */
  min-height: 330px; /* Use min-height instead of fixed height */
  margin: 0; /* Remove auto margin */
  padding: 20px;
  border-radius: 20px;
  margin-left: -20px;
  border-color: #AB0E0B;
  border-style: solid;
  background-color: rgba(2, 5, 4, 0.95); /* Dark background for better contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visual separation */
}

/* Title Styles */
.AttackTitle {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 20px;
  color: white; /* Change title text color */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Text Styles */
.AttackText {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 20px;
  color: white; /* Change title text color */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Damage Types Container */
.damage-types {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
}

/* Individual Damage Type */
.damage-type {
  text-align: center;
}

/* Hexagon Input Container */
.hexagon {
  width: 60px;
  height: 60px;
  background-color: #AB0E0B;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hexagon Input Field */
.hexagon input {
  width: 80%;
  text-align: center;
  border: none;
  background: none;
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
}





/*Skills*/

.card-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.SkillBody {
  width: 500px; /* Adjust width as needed */
  min-height: 500px; /* Adjust height as needed */
  padding: 20px;
  border-radius: 20px;
  border-color: #AB0E0B;
  border-style: solid;
  background-color: rgba(2, 5, 4, 0.95); /* Dark background for better contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visual separation */
}

.SkillTitle {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 20px;
  color: white; /* Change title text color */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.skills-container {
  display: flex;
  gap: 20px; /* Space between columns */
}

.skill-column {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between categories */
  flex: 1; /* Each column takes equal space */
}

.skill-category {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between skills in a category */
  color: #fff;
  font-weight: 600;
  font-family: "Chakra Petch", sans-serif;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: 400;
  font-family: "Chakra Petch", sans-serif;
}

.hexagon {
  width: 60px;
  height: 60px;
  background-color: #AB0E0B;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon input {
  width: 80%;
  text-align: center;
  border: none;
  background: none;
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
}